# Dependencies
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Vite cache
.vite/

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Debug logs
npm-debug.log*
ClosetMate/
*.log
